.titles{
    font-family: 'Inter', sans-serif;
    width: 25rem;
}
.titles h2{
    font-size: 1.8rem;
    line-height: 2.8rem;
}
.titles p{
    font-size: 1.2rem;
    padding: 0.5rem 0;
    line-height: 1.8rem;
    color: #8692A6;
}
.titles hr{
    border: none;
    border-bottom: 1px solid #F5F5F5;
}