.NewGames{
    padding:1rem 2.5rem;
    position: fixed;
    margin-top: 5rem;
    height: 52vh;
    width: 100%;
}
.gameContaner{
    display: flex;
    height: 18rem;
    width: 100%;
    overflow-x: auto;   
}
.gameContaner::-webkit-scrollbar { 
    display: none;
}