.NewGames{
    grid-row-start: 2;
    width: 100%;
}
.gameContaner{
    display: flex;
    overflow-x: auto;   
    width: calc(100vw - 8rem);
}
.gameContaner::-webkit-scrollbar { 
    display: none;
}